<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @ncr_item.category_id %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @ncr_item.item_name %>
</p>

<p>
  <strong>Is active at pos:</strong>
  <%= @ncr_item.is_active_at_pos %>
</p>

<p>
  <strong>Is active online:</strong>
  <%= @ncr_item.is_active_online %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ncr_item.description %>
</p>

<p>
  <strong>Sales price:</strong>
  <%= @ncr_item.sales_price %>
</p>

<%= link_to 'Edit', edit_ncr_item_path(@ncr_item) %> |
<%= link_to 'Back', ncr_items_path %>
