<p id="notice"><%= notice %></p>

<p>
  <strong>External:</strong>
  <%= @ncr_item.external_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ncr_item.category %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @ncr_item.item_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ncr_item.description %>
</p>

<p>
  <strong>Variation types:</strong>
  <%= @ncr_item.variation_types %>
</p>

<p>
  <strong>Variations:</strong>
  <%= @ncr_item.variations %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @ncr_item.barcode %>
</p>

<p>
  <strong>Track inventory:</strong>
  <%= @ncr_item.track_inventory %>
</p>

<p>
  <strong>Prompt for price:</strong>
  <%= @ncr_item.prompt_for_price %>
</p>

<p>
  <strong>Unit cost:</strong>
  <%= @ncr_item.unit_cost %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ncr_item.price %>
</p>

<p>
  <strong>Sold by weight measure:</strong>
  <%= @ncr_item.sold_by_weight_measure %>
</p>

<p>
  <strong>Tax category:</strong>
  <%= @ncr_item.tax_category %>
</p>

<p>
  <strong>Available for sale on pos:</strong>
  <%= @ncr_item.available_for_sale_on_pos %>
</p>

<p>
  <strong>Available for sale online:</strong>
  <%= @ncr_item.available_for_sale_online %>
</p>

<p>
  <strong>Online item name:</strong>
  <%= @ncr_item.online_item_name %>
</p>

<p>
  <strong>Package cost:</strong>
  <%= @ncr_item.package_cost %>
</p>

<p>
  <strong>Units per package:</strong>
  <%= @ncr_item.units_per_package %>
</p>

<p>
  <strong>Primary vendor:</strong>
  <%= @ncr_item.primary_vendor %>
</p>

<p>
  <strong>Units on hand:</strong>
  <%= @ncr_item.units_on_hand %>
</p>

<p>
  <strong>Modified by 1:</strong>
  <%= @ncr_item.modified_by_1 %>
</p>

<p>
  <strong>Modifier group 1 external:</strong>
  <%= @ncr_item.modifier_group_1_external_id %>
</p>

<p>
  <strong>Modified by 2:</strong>
  <%= @ncr_item.modified_by_2 %>
</p>

<p>
  <strong>Modifier group 2 external:</strong>
  <%= @ncr_item.modifier_group_2_external_id %>
</p>

<p>
  <strong>Modified by 3:</strong>
  <%= @ncr_item.modified_by_3 %>
</p>

<p>
  <strong>Modifier group 3 external:</strong>
  <%= @ncr_item.modifier_group_3_external_id %>
</p>

<p>
  <strong>Modified by 4:</strong>
  <%= @ncr_item.modified_by_4 %>
</p>

<p>
  <strong>Modifier group 4 external:</strong>
  <%= @ncr_item.modifier_group_4_external_id %>
</p>

<p>
  <strong>Modified by 5:</strong>
  <%= @ncr_item.modified_by_5 %>
</p>

<p>
  <strong>Modifier group 5 external:</strong>
  <%= @ncr_item.modifier_group_5_external_id %>
</p>

<%= link_to 'Edit', edit_ncr_item_path(@ncr_item) %> |
<%= link_to 'Back', ncr_items_path %>
