<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ncr_category.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @ncr_category.department_id %>
</p>

<%= link_to 'Edit', edit_ncr_category_path(@ncr_category) %> |
<%= link_to 'Back', ncr_categories_path %>
